* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  background: #111827;
}


/* Layout */

.app-layout {
  min-height: 100vh;
  background: #111827;
  color: white;
}


.content {
  padding: 30px;
}



/* Header */

.header {

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 40px;

  background:#1f2937;

  border-bottom:1px solid #374151;

}


.header h1 {

font-size:32px;

}


.header nav {

display:flex;
gap:25px;

}


.header a {

color:white;
text-decoration:none;

font-weight:bold;

}


.header a:hover {

color:#60a5fa;

}




/* páginas */

.page-container {

display:flex;

flex-direction:column;

gap:25px;

}



.page-container h2 {

font-size:32px;

}





/* pesquisa */

.search {


padding:15px;

width:350px;

border-radius:10px;

border:none;

background:#374151;

color:white;

font-size:16px;

}



select {


padding:15px;

border-radius:10px;

background:#374151;

color:white;

border:none;

}




/* GRID DOS CARDS */

.cards-grid {

display:grid;

grid-template-columns:

repeat(auto-fill,minmax(230px,1fr));

gap:25px;

}





/* CARD */

.card {


background:#1f2937;

border-radius:20px;

padding:20px;


display:flex;

flex-direction:column;

align-items:center;


transition:0.3s;


border:1px solid #374151;


}



.card:hover {


transform:translateY(-8px);


border-color:#60a5fa;


}




.card img {


width:180px;

height:180px;

object-fit:contain;


background:#111827;


border-radius:15px;


padding:10px;


}



.card h2 {


margin-top:15px;

font-size:24px;


}



.card p {


color:#d1d5db;

margin-top:5px;


}



/* Tipo */

.tipo {


margin-top:10px;

padding:6px 15px;

border-radius:20px;


background:#2563eb;

font-size:14px;


}





/* atributos */

.atributos {


width:100%;

background:#111827;

border-radius:10px;

padding:10px;

margin:15px 0;


}


.atributos p {

font-size:14px;

}




/* Botões */

.btn-primary,
.btn-voltar,
.btn-capturar {


padding:12px 20px;

border:none;

border-radius:10px;

cursor:pointer;

font-weight:bold;

text-decoration:none;

text-align:center;

}



.btn-primary {


background:#2563eb;

color:white;


}



.btn-capturar {


width:100%;

background:#dc2626;

color:white;


}



.card.capturado {


border:2px solid #22c55e;

}



.card.capturado .btn-capturar {


background:#22c55e;


}




.btn-voltar {


background:#374151;

color:white;


}



/* Footer */


.footer {


padding:20px;

text-align:center;

background:#1f2937;

margin-top:30px;


}